body {
  margin: 0;
  overflow: hidden;
  user-select: none; }

*, *::after, *::before {
  box-sizing: border-box; }

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #090909; }

.compass-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vmin;
  width: 100vmin;
  flex: 3; }

.text-container {
  text-align: center;
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column; }
  .text-container hr {
    width: 60%;
    border: 1px solid #a9a9a977; }

.circle-container {
  position: relative;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  list-style: none; }
  .circle-container > li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    font-size: 4vmin;
    border-radius: 50%;
    color: white;
    width: 1.5em;
    height: 1.5em;
    margin: -0.75em;
    transition: 0.15s; }
    .circle-container > li.selected {
      transform: scale(1.5, 1.5); }

.selected {
  background-color: rgba(255, 255, 255, 0.15); }

.dials-container {
  position: absolute;
  width: 0;
  height: 0;
  display: flex;
  align-items: center; }

.dial {
  position: absolute;
  transform: rotateZ(0deg);
  transform-origin: left;
  transform-origin: 2.5vmin;
  cursor: pointer;
  margin-left: -2.5vmin; }

.dial.active {
  filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-40deg) saturate(600%) contrast(1.5);
  z-index: 1000; }

.dial-1 {
  width: 40vmin;
  height: 6vmin;
  background-image: url("./clock-hand.png");
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat; }

.dial-2 {
  width: 30vmin;
  height: 8vmin;
  background-image: url("./clock-hand2.png");
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat; }

.dial-3 {
  width: 30vmin;
  height: 8vmin;
  background-image: url("./clock-hand2.png");
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat; }

.dial-4 {
  width: 36vmin;
  height: 3vmin;
  background-image: url("./clock-hand4.png");
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat; }

#emoji-output {
  font-size: 16vmin;
  color: white;
  margin-top: -6vmin; }

.text-box {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em; }

#flavor-text-output {
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  color: #999;
  font-style: italic; }

.text-box.final {
  font-size: 5vmin; }

@media (orientation: portrait) {
  .text-container {
    min-height: 100px; } }

@media (orientation: landscape) {
  .container {
    flex-direction: row; }
  .text-container {
    flex-direction: row;
    align-items: center;
    max-width: 500px; }
    .text-container hr {
      height: 60%;
      width: 0; } }

.hidden {
  display: none; }

.dials-cap {
  position: absolute;
  width: 5.25vmin;
  height: 5.25vmin;
  margin-left: -2.625vmin;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #868181;
  z-index: 2000; }
  .dials-cap::after {
    width: 1.5vmin;
    height: 1.5vmin;
    content: '';
    position: absolute;
    background-color: #090909;
    border-radius: 50%; }
