body {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: hidden;
  user-select: none;
  text-transform: unset; /* Unset global transform from Cordova */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url('../img/aurora_v04.svg');
}

.container {
  /* Positioning and layout */
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Background */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  /* Typography */
  font-family: 'Gentium Book Basic', serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: white;
  text-align: center;
  text-shadow: 0 0 6px rgba(0, 0, 0, 1);
}

/* Hide Cordova thing? */
.app {
  display: none;
}
