$background-color: #090909;
$ring-track-color: #49241b;
$ring-face-color: #906732;

body {
  margin: 0;
  overflow: hidden;
  user-select: none;
  font-family: 'Berkshire Swash', serif; // This needs to be serif for the αΩ symbol
  font-size: 16px;
  text-transform: unset;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: $background-color;
}

.compass-container {
  display: flex;
  position: relative;
  height: 100vmin;
  width: 100vmin;
  flex: 3;
}

.ring-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.ring {
  position: relative;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  list-style: none;

  > li {
    $item-size: 1.5em;

    position: absolute;
    top: 50%; // Starting position; use JS to manipulate placement around circle
    left: 50%; // Starting position; use JS to manipulate placement around circle
    max-width: 100%;
    font-size: 4vmin;
    color: white;

    width: $item-size;
    height: $item-size;
    margin: -($item-size / 2);
    transition: 0.15s;

    > span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transition: 0.15s;
    }

    &.selected > span {
      transform: scale(1.5, 1.5);
      background-color: rgba(255, 255, 255, 0.15);
    }

    &.requested > span {
      transform: scale(1.5, 1.5);
      background-color: rgba(155, 230, 255, 0.75);
    }

    &.responded > span {
      transform: scale(1.5, 1.5);
      background-color: yellow !important;
    }
  }

  &::before {
    content: ' ';
    position: absolute;
    width: 116%;
    height: 116%;
    background-color: $ring-track-color;
    border-radius: 50%;
    top: -8%;
    right: -8%;
    border: 0.9vmin solid $ring-face-color;
  }

  &::after {
    content: ' ';
    background-color: $ring-face-color;
    position: absolute;
    width: 87%;
    height: 87%;
    border-radius: 50%;
    top: 6.5%;
    right: 6.5%;
  }
}

.dials-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dials {
  display: flex;
  width: 0;
  height: 0;
  align-items: center;
}

.dial {
  position: absolute;
  transform: rotateZ(0deg);
  transform-origin: left;
  transform-origin: 2.5vmin;
  cursor: pointer;
  margin-left: -2.5vmin;
}

$dial-1-width: 6vmin;

.dial-1 {
  width: 30vmin;
  height: 8vmin;
  background-image: url('../img/clock-hand2-inactive.png');
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat;

  &.active {
    background-image: url('../img/clock-hand2-active.png');
  }
}

.dial-2 {
  width: 30vmin;
  height: 8vmin;
  background-image: url('../img/clock-hand2-inactive.png');
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat;

  &.active {
    background-image: url('../img/clock-hand2-active.png');
  }
}

.dial-3 {
  width: 30vmin;
  height: 8vmin;
  background-image: url('../img/clock-hand2-inactive.png');
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat;

  &.active {
    background-image: url('../img/clock-hand2-active.png');
  }
}

.dial-4 {
  width: 40vmin;
  height: $dial-1-width;
  background-image: url('../img/clock-hand-inactive.png');
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat;

  &.active {
    background-image: url('../img/clock-hand-active.png');
  }
}

#emoji-output {
  font-size: 15vmin;
  line-height: 15vmin;
  color: white;
}

.text-container {
  text-align: center;
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  
  hr {
    width: 60%;
    border: 1px solid #a9a9a977;
  }
}

.text-box {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
}

.instruction-text {
  font-size: 1.75em;
}

#flavor-text-output {
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  color: #aaa;
  font-size: 1.25em;
}

@media (orientation: 'portrait') {
  .text-container {
    max-height: 400px;
    min-height: 250px;
  }
}

@media (orientation: 'landscape') {
  .container {
    flex-direction: row;
  }
  
  .text-container {
    flex-direction: row;
    align-items: center;
    max-width: 400px;
    min-width: 250px;
  
    hr {
      height: 60%;
      width: 0;
    }
  }
}

.hidden {
  display: none;
}

.dials-cap {
  position: absolute;
  width: 5.25vmin;
  height: 5.25vmin;
  margin-left: -2.625vmin;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8d3200;
  z-index: 2000;

  &::after {
    width: 1.5vmin;
    height: 1.5vmin;
    content: '';
    position: absolute;
    background-color: $ring-face-color;
    border-radius: 50%;
  }
}
