body {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: hidden;
  user-select: none;
  text-transform: unset; /* Unset global transform from Cordova */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url('../img/aurora_v04.svg');
}

.container {
  /* Positioning and layout */
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Background */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  /* Typography */
  font-family: 'Gentium Book Basic', serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: white;
  text-align: center;
  text-shadow: 0 0 6px rgba(0, 0, 0, 1);
}

/* Hide Cordova thing? */
.app {
  display: none;
}

.compass-needles-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.compass-needles {
  display: flex;
  width: 0;
  height: 0;
  align-items: center; }

.needle {
  position: absolute;
  transform: rotateZ(0deg);
  transform-origin: left;
  transform-origin: 2.5vmin;
  cursor: pointer;
  margin-left: -2.5vmin; }

.needle-1 {
  width: 30vmin;
  height: 8vmin;
  background-image: url("../img/needle1-inactive.svg");
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat; }
  .needle-1.active {
    background-image: url("../img/needle1-active.svg"); }

.needle-2 {
  width: 30vmin;
  height: 8vmin;
  background-image: url("../img/needle1-inactive.svg");
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat; }
  .needle-2.active {
    background-image: url("../img/needle1-active.svg"); }

.needle-3 {
  width: 30vmin;
  height: 8vmin;
  background-image: url("../img/needle1-inactive.svg");
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat; }
  .needle-3.active {
    background-image: url("../img/needle1-active.svg"); }

.needle-4 {
  width: 40vmin;
  height: 6vmin;
  background-image: url("../img/needle2-inactive.svg");
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat; }
  .needle-4.active {
    background-image: url("../img/needle2-active.svg"); }

.compass-hub {
  position: absolute;
  width: 5.25vmin;
  height: 5.25vmin;
  margin-left: -2.625vmin;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8d3200;
  z-index: 2000; }
  .compass-hub::after {
    width: 1.5vmin;
    height: 1.5vmin;
    content: '';
    position: absolute;
    background-color: #906732;
    border-radius: 50%; }
