.final-text {
  font-size: 8vmin;
  color: white;
  text-align: center;
  line-height: 1.2;

  /* Display the whole thing large */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 20000;
  padding: 6vmin;
}

@media (orientation: 'landscape') {
  .final-text { 
    font-size: 5vmin;
  }
}

.final-buttons {
  margin-top: 0.25em;
}

.final-buttons button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid #ddc272;
  background-color: #c4a660;
  color: white;
  width: 44px;
  height: 44px;
  font-size: 28px;
  font-family: 'Gentium Book Basic', serif;
  cursor: pointer;
  margin: 0.75em;
  border-radius: 50%;
  outline: none;
}

.final-buttons button:focus {
  box-shadow: 0 0 10px 0 #5656e2;
}

.final-buttons button:hover {
  color: yellow;
}

#final-emoji-1 {
  display: block;
  margin: 0.75em;
  margin-top: 1em;
  font-size: 10vmin;
}

.emoji-table {
  margin-top: 1em;
  margin-bottom: 1em;
}

.emoji-table-row > td {
  padding-bottom: 2vmin;
}

.emoji-table-cell {
  vertical-align: middle
}

.emoji-table-description {
  color: #aaa;
  font-size: 4vmin;
  text-align: left;
}

.emoji-table-symbol {
  margin-right: 0.5em;
  font-size: 10vmin;
}

@media (orientation: 'landscape') {
  #final-emoji-1 {
    font-size: 6vmin;
  }

  .emoji-table {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .emoji-table-row > td {
    padding-bottom: 1vmin;
  }

  .emoji-table-symbol {
    font-size: 6vmin;
  }
}
