.container-answer-screen {
  padding-top: 3.25rem;
}

@media (orientation: 'landscape') {
  .container-answer-screen {
    font-size: 5vmin;
  }
}

.answer-arc-container {
  position: relative;
  width: 100%;
}

.answer-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1em;
  font-size: 6.5vmin;
  font-weight: normal;
}

.answer-emojis {
  display: flex;
  justify-content: center;

  position: absolute;
  top: 37%;
  width: 100%;

  font-size: 16vmin;
  line-height: 1;

  /* disable events so svg handlers work */
  pointer-events: none;
}

.answer-emojis > span {
  flex: 1;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* Raise the middle one */
.answer-emojis > span:nth-child(2) {
  margin-top: -6%;
}

.final-buttons {
  margin-bottom: 2rem;
  /* Buttons are placed in a predictable location, never pushed off the screen */
  position: absolute;
  bottom: 0;
}

.final-buttons button {
  margin: 10px 20px;
}

.emoji-table {
  margin-top: 1em;
  margin-bottom: 1em;
}

.emoji-table-row > td {
  padding-bottom: 2vmin;
}

.emoji-table-cell {
  vertical-align: middle
}

.emoji-table-description {
  color: #aaa;
  font-size: 4vmin;
  text-align: left;
}

.emoji-table-symbol {
  margin-right: 0.5em;
  font-size: 10vmin;
}

@media (orientation: 'landscape') {
  #final-emoji-1 {
    font-size: 6vmin;
  }

  .emoji-table {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .emoji-table-row > td {
    padding-bottom: 1vmin;
  }

  .emoji-table-symbol {
    font-size: 6vmin;
  }
}
