.button {
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  padding: 0;
  width: 45px;
  height: 45px;
  background-color: transparent;
}

.button > img {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 29px;
  height: 29px;
  cursor: pointer;
}
