.flavor-text-container {
  line-height: 1.3;
  font-size: 6.5vmin;
  font-size: 18px;
}

.flavor-text-container p {
  margin: 0;
}

.flavor-text-divider {
  font-size: 14;
}

.flavor-text-divider:last-of-type {
  display: none;
}
