.info-overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3000;
}

.info-overlay-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.info-overlay {
  position: absolute;
  top: 34px;
  left: 14px;
  width: calc(100% - 28px);
  height: calc(100% - 48px);
  background-color: white;
  border-radius: 4px;
  padding: 15px;
  font-family: 'Gentium Book Basic', serif;
  font-size: 15px;
  line-height: 1.4;
  color: #282623;
}

.info-overlay-scroller {
  position: absolute;
  top: 30px;
  left: 15px;
  width: calc(100% - 30px);
  height: calc(100% - 15px - 90px);
}

.info-overlay-scroller::before {
  content: ' ';
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  background-image: -webkit-gradient(
    linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0))
  );
  z-index: 1;
  opacity: 0;
  user-select: none;
  transition: opacity 300ms;
}

.info-overlay-scroller.info-overlay-scroller-top::before {
  opacity: 1;
}

.info-overlay-scroller::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-image: -webkit-gradient(
    linear, left bottom, left top, from(rgba(255,255,255,1)), to(rgba(255,255,255,0))
  );
  opacity: 0;
  user-select: none;
  transition: opacity 300ms;
}

.info-overlay-scroller.info-overlay-scroller-bottom::after {
  opacity: 1;
}

.info-overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding: 15px;
  padding-top: 5px;
}

.info-overlay-content h2 {
  color: #d0973b;
}

.info-overlay-content > p:first-child {
  margin-top: 0;
}

.info-overlay-content > p:last-child {
  margin-bottom: 0;
}

.info-overlay-content a,
.info-overlay-content a:hover,
.info-overlay-content a:visited,
.info-overlay-content a:active {
  color: #282623;
}

.info-overlay-content::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: #edd5b0;
  border-radius: 1px;
}

.info-overlay-content::-webkit-scrollbar {
  width: 2px;
}

.mini-compass {
  width: 52px;
  height: 52px;
  /* Center the compass */
  margin: 0 auto;
  display: block;
  /* Additional bottom margin */
  margin-bottom: 1.5em;
}

footer {
  position: absolute;
  bottom: 15px;
  width: calc(100% - 30px);
  text-align: center;
}

footer button {
  appearance: none;
  border: 0;
  background-color: transparent;
  height: 29px;
  width: 29px;
  padding: 0;
}
