.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.text-box {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 2em;
  padding-top: 0;
}

.instruction-text {
  /* Sized to prevent instruction text from orphaning
   words on new lines on Android-based phones */
  font-size: 1.65em;
}

.emoji-description {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.5em;
}

.emoji-description > span {
  font-size: 24vmin;
  line-height: 24vmin;
}

.emoji-description > span > img.emoji {
  vertical-align: middle;
}

.emoji-description .flavor-text-container {
  text-align: left;
  font-size: 1.25em;
}
