.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.text-box {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 2em;
  padding-top: 0;
}

.instruction-text {
  /* Sized to prevent instruction text from orphaning
   words on new lines on Android-based phones */
  font-size: 1.65em;
}

.flavor-text-emoji {
  font-size: 24vmin;
  line-height: 24vmin;
}

.flavor-text-description {
  margin-left: 1.5em;
  font-size: 1.15em;
  text-align: left;
  line-height: 1.4;
}
