.container-main-screen {
  background-image: url('../img/oxford_v01.svg');
}

.emoji-requested {
  text-align: center;
  font-size: 48px;
  height: 48px;
}

.emoji-requested span:not(:last-child) {
  margin-right: 0.5em;
}
