.container-main-screen {
  /* background:
    url('../img/oxford.svg') center/cover fixed no-repeat; */
  background:
    url('../img/bgoverlay.png') 0/32px repeat,
    url('../img/oxford.svg') center/cover fixed no-repeat;
  /* background:
    url('../img/oxford1.png') center/cover fixed no-repeat; */
  background-blend-mode: overlay;
}

.emoji-requested {
  text-align: center;
  font-size: 48px;
  height: 48px;
}

.emoji-requested span:not(:last-child) {
  margin-right: 0.5em;
}
