.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 180px;
  max-height: 180px;
  width: 100%;
}

.text-box {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* padding: 2em;
  padding-top: 0; */
}

.instruction-text {
  /* Sized to prevent instruction text from orphaning
   words on new lines on Android-based phones */
  font-size: 1.65em;
  padding: 2em;
  padding-top: 0.5em;
}

.emoji-description {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.5em;
  padding: 1em;
}

.emoji-picking {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5em;
}

.emoji-picking span,
.emoji-description > span {
  font-size: 24vmin;
  line-height: 24vmin;
}

.emoji-picking > span > img.emoji,
.emoji-description > span > img.emoji {
  vertical-align: middle;
}

.emoji-description .flavor-text-container {
  text-align: left;
  font-size: 1.25em;
}

.emoji-picking > span {
  transition: opacity 400ms;
  opacity: 0;
}

.emoji-picking > span.show-enter-done {
  opacity: 1;
}
