
.nav-buttons {
  height: 90px;
  flex-basis: 90px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.nav-buttons button {
  margin: 0 20px;
}