main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

main.main-screen {
  /* background:
    url('../img/oxford.svg') center/cover fixed no-repeat; */
  background:
    url('./img/bgoverlay.png') 0/32px repeat,
    url('./img/oxford.svg') center/cover fixed no-repeat;
  /* background:
    url('../img/oxford1.png') center/cover fixed no-repeat; */
  background-blend-mode: overlay;
}
